body {
    height:200vh;
    background-image: url(../images/bg1.jpg);
    /* background - 시작 속성들은 배경이미지 전용 */
    background-size: 100% auto; 
    /* background-size: cover;  */    /* cover 설정 시 repeat 의미없음*/
    /* background-size: contain; */
    /* background-repeat: no-repeat; */    /* 반복여부 */
    background-position: center top; /* 위치조정 */
    background-attachment: fixed; /* 스크롤 관계없이 배경고정 */
}
#slide_wrap {
    width:549px; height:298px;
    background-color: aqua;
    /* test 임시색상은 auqa, yellow 영문명 색상 | 실제 디자인 색상은 헥사코드(#) 입력 */
    margin: 109px auto 0 ;
    /* 피그마 넘친 콘텐츠 숨기기 */
    overflow:auto;

}
#slide_wrap .slide_container {
    /* 기본 나비값 100% (부모와 같음) */
    width:max-content;
}
#slide_wrap .slide_container .slide {
    width:549px; height:298px;
    display: inline-block;
}
#slide_wrap .slide_container .slide:nth-child(1) {
    background-color: pink;
}
#slide_wrap .slide_container .slide:nth-child(2) {
    background-color: beige;
}
#slide_wrap .slide_container .slide:nth-child(3) {
    background-color: yellow
}
#slide_wrap .slide_container .slide:nth-child(4) {
    background-color: skyblue;
}
#slide_wrap .prev {}
#slide_wrap .next {}
#slide_wrap a {}
/* ---------- */
body {}
#best_slide_wrap {
    margin: 100px auto 0;
    overflow:auto;
    width:1200px;
    /* w(100%) h(auto(내용만큼인식)) */
}
#best_slide_wrap h1 {}
#best_slide_wrap .slide_container {
    width:max-content;
    /* 내용 최대만큼 */
}
#best_slide_wrap .slide_container .slide {
    /* display: inline-block;
    margin-right: -3px; */
    /* inline-block으로 옆으로 정렬 시 기본여백발생으로 margin-right:-3px로 제거하는 작업을 해줘야 한다. */
    /* 옆으로 나열하는 레이아웃 속성 */
    width:600px; height:400px;
    font-size: 3rem;
    float:left;
    
}
#best_slide_wrap .slide_container .slide:nth-child(odd) {background-color: aqua;}
#best_slide_wrap .slide_container .slide:nth-child(even) {background-color: beige;}
#best_slide_wrap .slide_container .slide:nth-child(2) {
    /* float:none; */
    /* float:none -> float를 모두 해제함 */
    clear:both;
    /* clear:both -> 이전 형제에서 온 float를 모두 해제함. */
}
#best_slide_wrap .prev {}
#best_slide_wrap .next {}