body > * { margin-bottom: 40px;}
#t1 {
    /* 테두리:선두께 선모양 선색상; */
    border:1px solid black;
    background-color: #eee;
    
}
#t1 tr {}
#t1 tr:nth-child(2) {background-color: #ff0;}
#t1 tr td {
    border:1px dotted red;
    padding:10px;
    /* 표의 여백은 열(td,th) 적용 */
}
#t1 tr th {
    border-bottom:2px solid blue;
    padding:10px 0 5px; /* 상(10) 좌우(0) 하(5) */
}
#t1 tr th:nth-child(1) {
    border-right:2px solid orange;
}
#t2 {
    width: 600px;
}
#t2 tbody {
    background-color:#d0e0f1;
}
#t2 tr {}
#t2 tr th {
    background-color:#bdff;
    border:1px solid black;
    border-bottom:2px solid black;
    padding:10px;
}
#t2 tr th:nth-child(1),
#t2 tr th:nth-child(2) {
    width:100px;
}
#t2 tr td {
    border:1px solid black;
    padding:10px;
}
#t2 tr td {
    text-align: center;
}
/* 교보문고 도서재고 */
#kyobo {}
#kyobo h1 {}
#kyobo #book {
    background-color: #ddd;
    width:700px;
    border-radius: 20px;
}
/* 공통 열 선택자 */
#kyobo #book th,
#kyobo #book td {padding: 15px 0;}
#kyobo #book thead {}
#kyobo #book thead tr {}
#kyobo #book thead tr th {}
/* 그룹선택자 적용법 */
/* #kyobo #book thead tr th:nth-child(2),
#kyobo #book thead tr th:nth-child(3),
#kyobo #book thead tr th:nth-child(4),
#kyobo #book thead tr th:nth-child(5) {width:80px;} */
/* 형제선택자 적용법 */
#kyobo #book thead tr th:nth-child(1) ~ th {width:80px;}
#kyobo #book tbody {}
#kyobo #book tbody tr {}
#kyobo #book tbody tr:nth-child(2) {border: 1px solid black;}
#kyobo #book tbody tr th {
    text-align: left;
    padding-left: 15px;
}
#kyobo #book tbody tr td {text-align: center;}
/* 행정안전부 */
#wrap {
    width:1620px;
    margin:0 auto;
    background-color: #ddd;
    padding: 30px 0;
}
#wrap .top {
    background-color: #bbb;
    width:750px; margin:20px auto;
}
#wrap #sales {
    background-color: #fff;
    margin:0 auto;
    width:750px;
}
#wrap #sales th,
#wrap #sales td {padding: 10px 0;}
#wrap #sales thead {
    border:1px solid black;
    border-right: 0;
    border-left: 0;
}
#wrap #sales thead tr {}
#wrap #sales thead tr th {font-weight: 500;}
#wrap #sales thead tr th:nth-child(1) ~ th {width:130px;}
#wrap #sales tbody {}
#wrap #sales tbody tr {}
#wrap #sales tbody tr:nth-child(4) {background-color: aquamarine;}
#wrap #sales tbody tr th {}
#wrap #sales tbody tr td {text-align: center;}
/* 선불요금제 */
#phone {}
#phone #pay {
    width:1100px;
}
#phone #pay thead {
    border:2px solid #000;
    border-left: 0; border-right: 0;
}
#phone #pay thead tr {}
#phone #pay thead tr:nth-child(1) {border-bottom: 1px dashed #000;}
#phone #pay thead tr th {
    padding:20px 0;
    
}
#phone #pay thead tr th img {width:50px;}
#phone #pay thead tr th em {
    font-size: 0.75rem; color:#888;
    display: block;
}